In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('student-mat.csv', sep=';')

In [3]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [4]:
data = data[['age','sex','studytime','absences','G1','G2','G3']]

In [5]:
data['sex'] = data['sex'].map({'F':0,'M':1})

/home/obed/anaconda3/envs/leon_ml/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
data

     age  sex  studytime  absences  G1  G2  G3
0     18    0          2         6   5   6   6
1     17    0          2         4   5   5   6
2     15    0          2        10   7   8  10
3     15    0          3         2  15  14  15
4     16    0          2         4   6  10  10
..   ...  ...        ...       ...  ..  ..  ..
390   20    1          2        11   9   9   9
391   17    1          1         3  14  16  16
392   21    1          1         3  10   8   7
393   18    1          1         0  11  12  10
394   19    1          1         5   8   9   9

[395 rows x 7 columns]

In [24]:
X = data[['G3','sex','studytime','absences','G1','G2']]
Y = data['age']

In [25]:
X.shape

(395, 6)

In [26]:
Y.shape

(395,)

In [27]:
X_train,Y_train,X_test,Y_test = train_test_split(X,Y,test_size=0.1)

In [28]:
model = LinearRegression()
model.fit(X_train, Y_train)

ValueError: Found input variables with inconsistent numbers of samples: [355, 40]

In [29]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,Y_train)

NameError: name 'KNeighborsClassifier' is not defined